---
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

  <script src="{{site.baseurl}}/assets/js/vendor/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/jquery.dataTables.min.css">
  <script src="{{site.baseurl}}/assets/js/vendor/jquery.dataTables.min.js"></script>


<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/styleguide.css">
<link rel="stylesheet" href="/assets/css/google-fonts.css">
<script src="/assets/js/components.js"></script>

	<title></title>
    </head>
    <body class>
      {% include header.html %}
      {% include sidenav.html %}
      <div class="main-content">
      <article class="styleguide-content usa-content">
        <h1>View Opportunities</h1>
        <table id="forecastTable" class="display usa-table-borderless" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>GSA Organization</th>
                <th>Region</th>
                <th>Award Status</th>
                <th>Product or Service Description</th>
                <th>Place of Performance (City)</th>
                <th>Place of Performance (State)</th>
                <th>Primary NAICS Code</th>
                <th>Estimated Award Fiscal Year and Quarter</th>
                <th>Socioeconomic Category</th>
            </tr>
            <tr>
                <th>GSA Organization</th>
                <th>Region</th>
                <th>Award Status</th>
                <th>Product or Service Description</th>
                <th>Place of Performance (City)</th>
                <th>Place of Performance (State)</th>
                <th>Primary NAICS Code</th>
                <th>Estimated Award Fiscal Year and Quarter</th>
                <th>Socioeconomic Category</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>GSA Organization</th>
                <th>Region</th>
                <th>Award Status</th>
                <th>Product or Service Description</th>
                <th>Place of Performance (City)</th>
                <th>Place of Performance (State)</th>
                <th>Primary NAICS Code</th>
                <th>Estimated Award Fiscal Year and Quarter</th>
                <th>Socioeconomic Category</th>
            </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>


      </article>
      </div>
      <!-- <script src="{{site.baseurl}}/bower_components/d3/d3.min.js"></script> -->
      <script>
      $(document).ready(function() {
        $('#forecastTable thead tr:nth-child(2) th').each(function() {
          var title = $('#forecastTable thead th').eq($(this).index()).text();
          $(this).html('<input type"text" placeholder="Search ' + title + '">');
        });

        var table = $('#forecastTable').DataTable( {
          "sDom":  '<"top"i>rt<"bottom"lp><"clear">',
          "ajax": {url:'data/2015data.json',"dataSrc": ""},
          "columns": [
            { "data": "GSA Organization", 
              "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                $(nTd).html("<a href='#'>"+oData["GSA Organization"] + "</a>");
            } },
            { "data": "Region" },
            { "data": "Award Status" },
            { "data": "Product or Service Description" },
            { "data": "Place of Performance (City)" },
            { "data": "Place of Performance (State)" },
            { "data": "Primary NAICS Code" },
            { "data": "Estimated Award Fiscal Year and Quarter" },
            { "data": "Socioeconomic Category" }
          ]
        });

        table.columns().eq(0).each(function(colIdx) {
          $('input', table.column(colIdx).header()).on('keyup change', function() {
            table
              .column(colIdx)
              .search(this.value)
              .draw();
          });
          $('input', table.column(colIdx).header()).on('click', function(e) {
            e.stopPropagation();
          });
        });
      });

      </script>

    </body>
</html>
