<aside class="sidenav usa-sidenav">
    <img src="{{site.baseurl}}/assets/img/gsalogo.jpeg" alt="GSA Logo"/>
    <nav>
        <ul class="usa-sidenav-list">
            <li>
                <a class="usa-current" href="javascript:void(0)">View Opportunities</a>
            </li>
            <li>
                <a href="javascript:void(0)">About</a>
            </li>
            <li>
                <a href="javascript:void(0)">/Developers</a>
            </li>
        </ul>
    </nav>
</aside>
</div>
